<div class="overview-container">
    <h1 class="component-title title is-3" style="text-align: center"> Order #1 </h1>
    <div>
      <h2 class="component-title title is-4">Last 5 closing prices</h2>
      <app-line-chart></app-line-chart>
    </div>

    <div id="table-container">
    <table>
      <tbody>
        <tr>
          <th>Date</th>
          <td></td>
          <td>15-10-2021</td>
        </tr>
        <tr>
          <th>Ticker</th>
          <td></td>
          <td>APPL</td>

        </tr>

        <tr>
          <th>Buy or sell</th>
          <td></td>
          <td class = 'needs-margin'>Buy</td>
        </tr>
        <tr>
          <th>Bought at</th>
          <td></td>
          <td class = 'needs-margin'>$149.48</td>
        </tr>
        <tr>
          <th>Volume</th>
          <td></td>
          <td>510</td>
        </tr>
        <tr>
          <th>Status</th>
          <td></td>
          <td>2</td>
        </tr>
        <tr>
          <th>Cancelled</th>
          <td></td>
          <td>No</td>
        </tr>
      </tbody>
    </table>

    </div>
</div>
