<div class="overview-container">
    <h1 class="component-title title is-2"> Overview </h1>
    <app-pnl [transactions]="transactions"></app-pnl>
    <app-pie-chart [transactions]="transactions"></app-pie-chart>

</div>
