

<div class="overview-container middle-container">
    <div class="content-container">
        <div class="component-title-container ">
            <h1 class="component-title title is-2"> Transactions </h1>
        </div>
        <div class="table-container">
            <table id="transaction-table" class="table">
                <thead>
                    <tr>
                        <th> Status </th>
                        <th> Stock  </th>
                        <th> Transaction </th> <!-- bought or sold -->
                        <th> Price </th>
                        <th> Volume </th>
                        <th> Total </th>
                        <th> Cancelled </th> <!-- might break if change is made-->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td> {{transaction.statusCode }} </td>
                        <td> {{transaction.stockTicker }} </td>
                        <td> {{transaction.buyOrSell }} </td>
                        <td> {{transaction.price }} </td>
                        <td> {{transaction.volume }} </td>
                        <td> {{transaction.price * transaction.volume}} </td>
                        <td> {{transaction.cancelled}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
