<div id="page-container">
  <div class="columns">
    <div class="column is-one-quarter">
      <app-overview [transactions]="transactions"></app-overview>
    </div>
    <div class="column is-two-quarter">
      <app-list-orders [transactions]="transactions"></app-list-orders>
    </div>
    <div class="column is-one-quarter">
      <app-display-order></app-display-order>
    </div>
  </div>
</div>
