/* You can add global styles to this file, and also import other style files */
body,html{
    height: 100%;
    margin: 0;
}

.overview-container{
    background-color: #f2f2f2;
    color: #323232;
    height: 80vh;
}